.Rhistory
Assignment2-2015Winter.pdf
figures/digits-pca.pdf
figures/pc1.pdf
figures/top-5-pcs-digit-0.pdf
figures/top-5-pcs-digit-1.pdf
report2.aux
report2.bbl
report2.blg
report2.log
report2.out
report2.pdf
report2.synctex.gz
figures/recreate-gradual-digit-0.pdf
figures/top-pcs-digit-0.pdf
figures/ica-components.pdf
figures/ica-reconstruction-gradual-digit-0.pdf
figures/ica-reconstruction-gradual-digit-zero.pdf
figures/ica-reconstruction.pdf
figures/ica-recreate-gradual-digit-0.pdf
figures/pc-1.pdf
figures/pc-2.pdf
figures/seeds-hclust-average-versus.pdf
figures/seeds-hclust-average.pdf
figures/seeds-hclust-centroid.pdf
figures/seeds-hclust-complete.pdf
figures/seeds-hclust-mcquitty.pdf
figures/seeds-hclust-median.pdf
figures/seeds-hclust-single.pdf
figures/seeds-hclust-ward.D.pdf
figures/seeds-hclust-ward.D2.pdf
figures/seeds-kmeans.pdf
figures/seeds-pairs.pdf
figures/seeds-voronoi.pdf
report2.toc
